[project]
	description = Control all your connected Android devices simultaneously using adb with one command.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jaybo Wong (jaybowong)
[access "refs/for/refs/*"]
	read = group user/Jaybo Wong (jaybowong)
	push = group user/Jaybo Wong (jaybowong)
	label-Code-Review = -2..+2 group user/Jaybo Wong (jaybowong)
	label-Verified = -1..+1 group user/Jaybo Wong (jaybowong)
	rebase = group user/Jaybo Wong (jaybowong)
	removeReviewer = group user/Jaybo Wong (jaybowong)
	submit = group user/Jaybo Wong (jaybowong)
[access "refs/heads/*"]
	read = group user/Jaybo Wong (jaybowong)
	create = group user/Jaybo Wong (jaybowong)
	push = +force group user/Jaybo Wong (jaybowong)
	pushMerge = group user/Jaybo Wong (jaybowong)
[access "refs/tags/*"]
	push = +force group user/Jaybo Wong (jaybowong)
	pushTag = group user/Jaybo Wong (jaybowong)
	pushSignedTag = group user/Jaybo Wong (jaybowong)
